h1 {
    text-align: center;
    color: #33c3f0;
}
h2, p {
    padding-left: 300px;
    padding-bottom: 5px;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:350px;
}
ul {
    padding-left: 300px;
    padding-bottom: 150px;
}
h1, h2, p, ul, .button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p, ul {
    font-size: 15px;
}
.border {
    border-color: black;
    border-width: 5px;
    border-radius: 50%;
    border-style: solid;
 }
 .button {
     display: inline-block;
     padding: 15px 25px;
     font-size: 24px;
     cursor: pointer;
     text-align: center;
     text-decoration: none;
     outline:none;
     color: #fff;
     background-color: #33c3f0;
     border: 1px;
     border-radius: 5px;
     box-shadow: 0 9px #bbbd;
 }
.button:hover {
    background-color: #1ec0f1;
}
.button:active {
    background-color: #28c2f1;
    box-shadow: 0 5px #666;
    transform: translatey(4px);
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }